@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-verde-difuminado {
    background-image: linear-gradient(135deg, #d1fae5, #86efac, #4ade80);
  }
}

body {
  @apply flex justify-center items-center min-h-screen bg-verde-difuminado font-sans;
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}